{:source-paths ["src"]
 :builds {:analysis-cache {:target :bootstrap
                           :output-dir "out"
                           :exclude #{cljs.js}
                           :entries [#_demo.selfhost.many cljs.spec.alpha]
                           :macros [cljs.spec.alpha]}}}
